/**
 奥付け用のカラム表示
 */

.colophon-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.colophon-page {
  margin-top: auto;
}

.colophon-container {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1.5em;
  }

.colophon-row {
    display: contents;
}

.colophon-label {
    text-align: justify;
    text-align-last: justify;
}

.colophon-value {
    text-align: left;
}
